.cont {
    display: grid;
    width: 80%;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}

h4 {
    margin: 10%;
}

#loginButton {
    width: 40%;
}

.cont > * {
    margin: 1rem;
}